.DraftEditor-root {
  margin-left: 5px;
  margin-right: 5px;
}

html {
    font-family: Roboto;
}

#title {
  text-align: center;
}

#toolbar {
  margin: 5px;
  padding: 5px;
  background-color: gray;
  display: flex;
  border: solid 1px black;
}

#save {
  margin-top: 50px;
  color: white;
}

#my-appbar {
  display: flex;
  text-align: center;
  align-items: center;
}
