.DraftEditor-root {
  margin-left: 5px;
  margin-right: 5px;
}

#title {
  text-align: center;
  /* margin: 10px; */
}

#toolbar {
  margin: 5px;
  padding: 5px;
  background-color: gray;
  display: flex;
  border: solid 1px black;
}

.toolbar-btn {
  height: 30px;
  width: 30px;
  border: solid 1px black;
  border-radius: 3px;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}

.dropdown-btn {
  height: 30px;
  width: 90px;
  border: solid 1px black;
  background-color: buttonface;
}

.hide {
  display: none;
}
